body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    color: #3498db;
    text-align: center;
}

.contenido .datos {
    width: 500px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: -5px 3px 10px rgba(0, 0, 0, 0.201);
    background: rgba(219, 248, 247, 0.505);
}

/* Animación para el contenedor */
.contenido {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s ease-out forwards;
}

.contenido .datos label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para el botón */
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}











/* STYLES PERIODOS  */
.contenido .periodos{
    display: flex;
    flex-direction: column;

}

.contenido .periodos h1{
    color: blue;
}

.contenido .periodos #form-datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
    box-shadow: -5px 3px 18px rgba(0, 0, 0, 0.405);
    border-radius: 10px;
}

.contenido .periodos #form-datos input{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.512);
    border-radius: 4px;
    font-size: 1.1rem;

    &::placeholder{
        font-size: 1rem;
        font-style: italic;
    }

}

.contenido .periodos #form-datos label{
    color: rgb(15, 18, 17);
    font-size: 1.1rem;
    font-weight: bold;
}

.contenido .periodos #form-datos .btn_enviar{
    background: rgb(52, 166, 219);
    color: white;
    border: none;
    font-size: 1.1rem;

    &:hover{
        background: blue;
        transition: 0.25s;
        transform: translate(1.1);
    }
}









/* STYLES PARA FORMULARIO DATOS  */
.contenido .datos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contenido .datos-container h1{
    color: blue;
    font-size: 1.4rem;
}

.contenido .datos-container #formulario-datos{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 3px 15px rgba(0, 0, 0, 0.405);
    border-radius: 10px;
}

.contenido .datos-container #formulario-datos table{
    display: flex;
    gap: 20px;
}

.contenido .datos-container #formulario-datos table th{
    font-size: 1.2rem;
    color: red;
}

.contenido .datos-container #formulario-datos table .meses{
    font-size: 1.2rem;
    font-weight: bold;
}

.contenido .datos-container #formulario-datos table input{
    padding: 10px;
    width: 100px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.512);
    border-radius: 4px;
}

.contenido .datos-container #formulario-datos table th, td{
    padding: 6px;
}

.contenido .datos-container #formulario-datos .resultados{
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(52, 166, 219);
    border-radius: 8px;
    padding: 10px;
    color: white;
    border: none;
    font-size: 1.1rem;

    &:hover{
        background: blue;
        transition: 0.25s;
        transform: translate(1.1);
    }
}








/* STYLES PARA LA TABLA DE RESULTADOS  */
.contenido .tabla{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenido .tabla h1{
    color: blue;
}

.contenido .tabla .datosEntrada{
    display: flex;
}

.contenido .tabla .datosEntrada .inventario-inicial1 {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 250px;
    background: orange;
    font-size: 1.1rem;
}

.contenido .tabla .datosEntrada .lote1{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 250px;
    background: rgb(0, 255, 13);
    font-size: 1.1rem;
}

.contenido .tabla .datosEntrada .inventario-inicial2, .lote2{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 50px;
    font-size: 1.1rem;
}

.contenido .tabla table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 4px;
}

.contenido .tabla table .tipo-periodo{
    background: #1b3bdc;
    color: white;
    font-size: 1.1rem;
}

.contenido .tabla table .periodos{
    background: #3498db;
    padding: 10px;
    font-weight: bold;
}

.contenido .tabla table th{
    border: 1px solid #9c9a9aad;
    text-align: center;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.contenido .tabla table td{
    border: 1px solid #9c9a9aad;
    text-align: center;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

/* .contenido .tabla tr:nth-child(even) {
    background-color: yellow;
} */

.contenido .tabla table td.numeros {
    transition: background-color 0.3s ease-in-out;
}

.contenido .tabla table #invenInicial{
    background: orange;
}

.contenido .tabla table .numeros{
    background: rgba(147, 245, 189, 0.586);
}

.contenido .tabla table .mps0{
    background: white;
}

.contenido .tabla table .mps1{
    background: rgb(0, 255, 13);
}


.contenido .tabla table td:hover {
    background-color: yellow;
}








.contenido .periodos-pedidos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 3.5rem;
}

.contenido .periodos-pedidos .pronosticos{
    width: 430px;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    font-size: 1.3rem;
    font-weight: bold;
}

.contenido .periodos-pedidos .tabla-pronosticos{
    width: 450px;
    text-align: center;
}

.contenido .periodos-pedidos .tabla-pronosticos th{
    font-size: 1.2rem;
    padding: 10px;
    background: #c6c6c6;
    border: 1px solid rgba(0, 0, 0, 0.279);
}

.contenido .periodos-pedidos .tabla-pronosticos td{
    font-size: 1.1rem;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.279);
}

.contenido .periodos-pedidos .tabla-pronosticos .meses{
    background: rgb(252, 101, 46);
    font-size: 1.1rem;
    font-weight: bold;
}

.contenido .btn-inicio{
    margin-top: 2.5rem;
    text-align: center;
    width: 100%;
}

.contenido .inicio a{
    width: 150px;
}

.contenido a .inicio{
    padding: 10px 20px;
    background-color: #49f9d0;
    color: rgba(0, 0, 0, 0.748);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.contenido .inicio:hover {
    background-color: #10d99a;
}



























































